.appWrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #f4f7f9;
  padding: 20px min(15px, 3%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mainTitle {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -0.5px;
  /* animation: glow 3s ease-in-out infinite; */
  opacity: 0;
  letter-spacing: 5px;
  animation: fadeInGather 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
/* @keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 5px rgba(0, 122, 255, 0.1);
    color: #1a1a1a;
  }
  50% {
    text-shadow: 0 0 15px rgba(0, 122, 255, 0.3);
    color: #445160;
  }
} */
 @keyframes fadeInGather {
  to {
    opacity: 1;
    letter-spacing: -0.5px; 
  }
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.error {
  color: #d9534f;
  background: #fdf7f7;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #d9534f;
  margin: 10px 0;
}

@media (min-width: 768px) {
  .appWrapper {
    padding: 60px 20px;
  }
  .mainTitle {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .content {
    max-width: 800px;
  }
}
